<p-timeline [value]="lista" [align]="getAlign()">
  <ng-template pTemplate="marker" let-item>
    <span
      class="marcador__arredondado p-shadow-3"
      [style.backgroundColor]="item.color"
    >
      <i [ngClass]="item.icon"></i>
    </span>
  </ng-template>
  <ng-template pTemplate="content" ngFor let-item>
    <p-card class="p-m-sm-3" [header]="item.tecnologia" subheader="{{ item.contatoDesde | date:'MMMM, y' : 'pt' }}">
      <app-item [item]="item"></app-item>
    </p-card>
  </ng-template>

  <ng-template pTemplate="opposite" style="display:none;" ngFor let-item></ng-template>
</p-timeline>
