<div class="p-m-2">
  <p-menubar [model]="menuItens" class="gradient">
    <ng-template pTemplate="end" class="p-d-flex p-ai-center">
      <input
        class="p-mr-2"
        type="text"
        pInputText
        placeholder="Procurar um usuário..."
      />
      <button
        pButton
        (click)="botaoBusca($event)"
        class="p-mr-2 p-button-rounded p-button-outlined"
        icon="pi pi-search"
      ></button>
      <button
        pButton
        (click)="botaoLogout($event)"
        class="p-mr-2 p-button-raised p-button-rounded"
        icon="pi pi-power-off"
      ></button>
    </ng-template>
  </p-menubar>

  <p-dialog
    header="Funcionalidade será adicionada em uma próxima versão"
    [(visible)]="avisoDisponibilidade"
    position="bottom"
    [modal]="true"
  >
    Ops... essa funcionalidade estará presente em uma próxima versão. Aguarde
    novidades!
  </p-dialog>
</div>
