<ul *ngIf="item.isProfissional; else pessoal">
  <h4>Em sua experiência profissional</h4>
  <li>
    <span>Relevancia: </span>
    <strong>{{ item.relevancia }}</strong>
  </li>
  <li>
    <span> Frequência de uso: </span>
    <strong>{{ item.frequencia }}</strong>
  </li>
</ul>

<ng-template #pessoal>
  <h4>A partir de seus interesses pessoais</h4>
  <ul>
    <li>
    <span>Relevancia: </span>
    <strong>{{ item.relevancia }}</strong>
  </li>
  <li>
    <span> Inovatividade: </span>
    <strong>{{ item.inovatividade }}</strong>
  </li>
  <li>
    <span> Aplicação na prática: </span>
    <strong>{{ item.aplicacaoPratica }}</strong>
  </li>
  </ul>
</ng-template>