<footer class="p-mt-6 p-pt-6 p-grid gradient-bg">
  <div class="p-col-12 p-md-8">
    <div class="p-grid">
      <div class="p-col-12 p-md-5">
        <h3>Mapa do Site</h3>
        <ul class="footer-list">
          <li>
            <a [routerLink]="['/']">ioDev</a>
          </li>
          <li>
            <a [routerLink]="['/registro/usuario']">Registre-se</a>
          </li>
          <li>
            <a [routerLink]="['/dashboard/47']">Análise</a>
          </li>
          <li>
            <a>Sobre</a>
          </li>
          <li>Blog</li>
        </ul>
      </div>
      <p-divider
        class="p-col-12 p-md-1"
        [layout]="getOrientacaoDivisor()"
        align="center"
      >
        <div class="p-d-flex p-ai-center" style="background-color: #11ffee00;">
          <i class="pi pi-user"></i>
        </div>
      </p-divider>
      <div class="p-col-12 p-md-6">
        <h3>Sobre o desenvolvimento</h3>
        <ul class="footer-list">
          <li>
            <a
              href="https://github.com/thiagojacinto/gropes-ui"
              target="_blank"
              rel="noopener noreferrer"
              >GitHub: aplicação Angular</a
            >
          </li>
          <li>
            <a
              href="https://github.com/andrefillipedev/gropes"
              target="_blank"
              rel="noopener noreferrer"
              >GitHub: aplicação Spring Boot</a
            >
          </li>
          <li>
            <a
              href="https://www.canva.com/design/DAEfsAG-tLY/"
              target="_blank"
              rel="noopener noreferrer"
              >Apresentaçao da solução</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-4">
    <h3>Agradecimentos:</h3>
    <ul class="footer-list">
      <li>Alessandro Carvalho</li>
      <li>Saulo Cadete</li>
      <ul>
        <span><strong>Equipe:</strong></span>
        <li>Amanda Lima</li>
        <li><a href="https://github.com/andrefillipedev" target="_blank" rel="noopener noreferrer">
          <i class="pi pi-github"></i>
          André Fillipe
        </a></li>
        <li>Cícero Oliveira</li>
        <li><a href="https://www.linkedin.com/in/thiago-jacinto/" target="_blank" rel="noopener noreferrer">
          <i class="pi pi-globe"></i>
          Thiago Jacinto
        </a></li>
        <li>Wanessa Kelly</li>
      </ul>
    </ul>
    <h3>Apoio:</h3>
    <ul class="footer-list">
      <li>
        <a href="https://www.unit.br" target="_blank" rel="noopener noreferrer"
        ><img style="max-width: 7rem" src="assets/img/unit.gif" alt="Unit"
        /></a>
      </li>
      <li>
        <a href="https://portodigital.org" target="_blank" rel="noopener noreferrer"
        ><img
        style="max-width: 7rem"
        src="assets/img/pd.png"
        alt="Porto Digital do Recife"
        /></a>
      </li>
    </ul>
  </div>
</footer>
