<div class="formulario__usuario">
  <div class="progress__bar">
    <p-progressBar
      [showValue]="true"
      [value]="atualizarProgresso()"
    ></p-progressBar>
  </div>

  <p-messages></p-messages>

  <div class="principal p-fluid p-grid">
    <form [formGroup]="registrarUsuario" (ngSubmit)="onSubmit()">
      <ng-template [ngIf]="isBasico()">
        <p-card
          class="p-m-1"
          header="Primeiro, nos conte sobre você..."
          [ngStyle]="{ 'background-color': 'var(--teal-100)' }"
        >
          <div formGroupName="basico" class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
              <span class="p-float-label">
                <input
                  type="text"
                  id="nome"
                  pInputText
                  formControlName="nome"
                  required
                />
                <label for="nome">Nome</label>
              </span>
            </div>

            <div class="p-field p-col-12 p-md-6">
              <span class="p-float-label">
                <input
                  type="email"
                  id="email"
                  pInputText
                  formControlName="email"
                  required
                />
                <label for="email">E-mail</label>
              </span>
            </div>
            <div class="p-field p-col-12 p-md-6">
              <span class="p-float-label">
                <p-calendar
                  id="nascimento"
                  formControlName="nascimento"
                  dateFormat="dd/mm/yy"
                  [maxDate]="dateHoje"
                ></p-calendar>
                <label for="nascimento">Data de Nascimento</label>
              </span>
            </div>
            <div class="p-field p-col-12 p-md-6">
              <span class="p-float-label">
                <input
                  type="password"
                  id="senha"
                  formControlName="senha"
                  required
                  pPassword
                />
                <label for="senha">Senha</label>
              </span>
            </div>

            <div formGroupName="endereco" class="p-field p-col p-grid">
              <div class="p-field p-col-12 p-md-6">
                <span class="p-float-label">
                  <input
                    type="text"
                    id="rua"
                    pInputText
                    formControlName="rua"
                    required
                  />
                  <label for="rua">Endereço</label>
                </span>
              </div>
              <div class="p-field p-col-12 p-md-6">
                <span class="p-float-label">
                  <input
                    type="text"
                    id="numero"
                    pInputText
                    formControlName="numero"
                    required
                  />
                  <label for="numero">Número</label>
                </span>
              </div>
              <div class="p-field p-col-6 p-md-6">
                <span class="p-float-label">
                  <input
                    type="text"
                    id="complemento"
                    pInputText
                    formControlName="complemento"
                    required
                  />
                  <label for="complemento">Complemento</label>
                </span>
              </div>
              <div class="p-field p-col-6 p-md-6">
                <span class="p-float-label">
                  <input
                    type="text"
                    id="cep"
                    pInputText
                    formControlName="cep"
                    required
                  />
                  <label for="cep">CEP</label>
                </span>
              </div>
            </div>
          </div>
        </p-card>
      </ng-template>

      <ng-template [ngIf]="isProfissional()">
        <div
          formArrayName="profissionais"
          class="p-grid p-d-flex p-flex-wrap p-jc-around"
        >
          <div
            *ngFor="
              let profissional of getProfissionaisControls();
              let i = index
            "
            class="p-col p-md-6 p-xl-4 p-mb-2"
          >
            <p-card
              class="p-shadow-10"
              header="experiência profissional"
              subheader="Liste suas experiências profissionais, inclusive em comunidades, preenchendo as questões abaixo:"
              [ngStyle]="{ 'background-color': 'var(--teal-100)' }"
            >
              <div [formGroupName]="i" class="p-fluid p-formgrid p-grid">
                <div
                  class="
                    p-field
                    p-col-12
                    p-d-inline-flex
                    p-ai-center
                    p-jc-center
                    p-flex-wrap
                  "
                >
                  <label class="switch__label" for="autonomo">
                    Profissional autônomo?
                  </label>
                  <p-inputSwitch 
                    formControlName="autonomo"
                    (onChange)="toggleDisabledEmpresa($event, profissional)"
                  ></p-inputSwitch>
                </div>
                <div class="p-field p-col-10">
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="empresa"
                      pInputText
                      formControlName="empresa"
                    />
                    <label for="empresa">Empresa</label>
                  </span>
                </div>
                <ng-template [ngIf]="i != 0">
                  <div class="p-field p-col-2">
                    <button
                      pButton
                      type="button"
                      icon="pi pi-trash"
                      class="
                        p-button-outlined
                        p-button-raised
                        p-button-rounded
                        p-button-help
                      "
                      (click)="removerExpProfissional(i)"
                    ></button>
                  </div>
                </ng-template>
                <div class="p-field p-col-6">
                  <span class="p-float-label">
                    <p-calendar
                      id="dataIni"
                      formControlName="dataIni"
                      dateFormat="dd/mm/yy"
                      [maxDate]="dateHoje"
                    ></p-calendar>
                    <label for="dataIni">Data Inicial</label>
                  </span>
                </div>
                <div class="p-field p-col-6">
                  <span class="p-float-label">
                    <p-calendar
                      id="dataFim"
                      formControlName="dataFim"
                      dateFormat="dd/mm/yy"
                      [maxDate]="dateHoje"
                      [minDate]="limiteDataExpProfissional(profissional)"
                    ></p-calendar>
                    <label for="dataFim">Data Final</label>
                  </span>
                </div>
                <div class="p-field p-col-5 p-md-3">
                  <label class="switch__label" for="trabalhoAtual"
                    >Trabalho atual?</label
                  >
                  <p-inputSwitch
                    id="trabalhoAtual"
                    formControlName="trabalhoAtual"
                  ></p-inputSwitch>
                  <label for="trabalhoAtual"></label>
                </div>
                <div class="p-field p-col">
                  <label class="switch__label" for="dificuldade"
                    >Dificuldade:</label
                  >
                  <p-selectButton
                    [options]="opcoesClassificacao"
                    formControlName="dificuldade"
                    pTooltip="1 para Trivial a 5 para Desafiadora"
                    tooltipPosition="bottom"
                  ></p-selectButton>
                </div>
                <div class="p-field p-col-12">
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="descricao"
                      pInputText
                      formControlName="descricao"
                    />
                    <label for="descricao">Descrição das atividades</label>
                  </span>
                </div>

                <div class="p-field" formArrayName="tecnologias">
                  <div
                    *ngFor="
                      let tech of getTecnologiasControls(profissional);
                      let j = index
                    "
                  >
                    <p-card
                      class="p-shadow-9"
                      header="tecnologias"
                      subheader="O que utilizou no período? (linguagens, frameworks, etc)"
                    >
                      <div
                        [formGroupName]="j"
                        class="p-fluid p-formgrid p-grid p-ai-center"
                      >
                        <div class="p-field p-col-10">
                          <span class="p-float-label">
                            <p-autoComplete
                              id="tecnologia"
                              formControlName="tecnologia"
                              [suggestions]="listaTecnologias"
                              (completeMethod)="filtrarTechList($event)"
                              [dropdown]="true"
                              [forceSelection]="true"
                              autocomplete
                              [emptyMessage]="sugestaoNaoEncontrada"
                            ></p-autoComplete>
                            <label for="tecnologia">Tecnologia</label>
                          </span>
                        </div>
                        <ng-template [ngIf]="j != 0">
                          <div class="p-field p-col-2">
                            <button
                              pButton
                              type="button"
                              icon="pi pi-trash"
                              class="
                                p-button-outlined
                                p-button-raised
                                p-button-rounded
                                p-button-help
                              "
                              (click)="
                                removerTecnologiaProfissional(profissional, j)
                              "
                            ></button>
                          </div>
                        </ng-template>
                        <div class="p-field p-col-6">
                          <span class="p-float-label">
                            <p-calendar
                              id="dataIni"
                              formControlName="dataIni"
                              dateFormat="dd/mm/yy"
                              [maxDate]="dateHoje"
                            ></p-calendar>
                            <label for="dataIni">Data Inicial</label>
                          </span>
                        </div>
                        <div class="p-field p-col-6">
                          <span class="p-float-label">
                            <p-calendar
                              id="dataFim"
                              formControlName="dataFim"
                              dateFormat="dd/mm/yy"
                              [maxDate]="dateHoje"
                              [minDate]="limiteDataTech(tech)"
                            ></p-calendar>
                            <label for="dataFim">Data Final</label>
                          </span>
                        </div>
                        <div
                          class="
                            p-field
                            p-col-12
                            p-d-inline-flex
                            p-ai-center
                            p-jc-center
                            p-flex-wrap
                          "
                        >
                          <label class="switch__label" for="utilizaAtual"
                            >Utiliza atualmente?</label
                          >
                          <p-inputSwitch
                            formControlName="utilizaAtual"
                          ></p-inputSwitch>
                        </div>
                        <div class="p-field p-col">
                          <label class="switch__label" for="frequenciaDeUso"
                            >Frequência de uso:</label
                          >
                          <p-selectButton
                            [options]="opcoesClassificacao"
                            formControlName="frequenciaDeUso"
                            pTooltip="1 para Raramente a 5 para Sempre"
                            tooltipPosition="bottom"
                          ></p-selectButton>
                        </div>
                      </div>
                      <div class="p-field p-col">
                        <button
                          pButton
                          type="button"
                          label="Tecnologia"
                          icon="pi pi-plus-circle"
                          class="
                            p-button-secondary p-button-raised p-button-rounded
                          "
                          (click)="addTecnologiaProfissional(profissional)"
                        ></button>
                      </div>
                    </p-card>
                  </div>
                </div>
              </div>
            </p-card>
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="isPessoal()">
        <div formArrayName="pessoais" class="p-grid p-jc-around p-mb-2">
          <div
            class="p-col-12 p-md-6 p-xl-4"
            *ngFor="let pessoal of getPessoaisControls(); let k = index"
          >
            <p-card
              header="experiência pessoal"
              subheader="Características pessoais e acadêmicas"
            >
              <div
                [formGroupName]="k"
                class="p-fluid p-formgrid p-grid p-ai-center"
              >
                <div class="p-field p-col-10">
                  <span class="p-float-label">
                    <!-- <input
                    type="text"
                    id="tecnologia"
                    pInputText
                    formControlName="tecnologia"
                    required
                  /> -->
                    <p-autoComplete
                      id="tecnologia"
                      formControlName="tecnologia"
                      [suggestions]="listaTecnologias"
                      (completeMethod)="filtrarTechList($event)"
                      [dropdown]="true"
                      [forceSelection]="true"
                      autocomplete
                      [emptyMessage]="sugestaoNaoEncontrada"
                    ></p-autoComplete>
                    <label for="tecnologia">Tecnologia</label>
                  </span>
                </div>
                <ng-template [ngIf]="k != 0">
                  <div class="p-field p-col-2">
                    <button
                      pButton
                      type="button"
                      icon="pi pi-trash"
                      class="p-button-outlined p-button-raised p-button-rounded"
                      (click)="removerExpPessoal(k)"
                    ></button>
                  </div>
                </ng-template>
                <div class="p-field p-col-6">
                  <span class="p-float-label">
                    <p-calendar
                      id="dataIni"
                      formControlName="dataIni"
                      dateFormat="dd/mm/yy"
                      [maxDate]="dateHoje"
                    ></p-calendar>
                    <label for="dataIni">Data Inicial</label>
                  </span>
                </div>
                <div class="p-field p-col-6">
                  <span class="p-float-label">
                    <p-calendar
                      id="dataFim"
                      formControlName="dataFim"
                      dateFormat="dd/mm/yy"
                      [maxDate]="dateHoje"
                      [minDate]="limiteDataExpPessoal(pessoal)"
                    ></p-calendar>
                    <label for="dataFim">Data Final</label>
                  </span>
                </div>
                <div class="p-field p-col-5 p-md-3">
                  <label class="switch__label" for="maisDe24Meses"
                    >Há +24 meses?</label
                  >
                  <p-inputSwitch
                    formControlName="maisDe24Meses"
                  ></p-inputSwitch>
                </div>
                <div class="p-field p-col">
                  <label class="" for="aplicacaoPratica"
                    >Aplicação prática</label
                  >
                  <p-selectButton
                    [options]="opcoesClassificacao"
                    formControlName="aplicacaoPratica"
                    pTooltip="1 para Nenhuma a 5 para Total"
                    tooltipPosition="bottom"
                  ></p-selectButton>
                </div>
              </div>
            </p-card>
          </div>
        </div>
      </ng-template>
    </form>
  </div>

  <div class="buttons__grid p-fluid p-grid p-d-flex p-jc-evenly">
    <div class="p-col-12 p-md-3">
      <button
        pButton
        type="button"
        label="Voltar"
        icon="pi pi-arrow-left"
        class="p-button-secondary p-button-outlined p-button"
        (click)="voltarFormVisivel()"
      ></button>
    </div>

    <ng-template [ngIf]="isProfissional()">
      <div class="p-col-12 p-md-6">
        <button
          pButton
          type="button"
          label="Adicionar Experiência Profissional"
          icon="pi pi-plus-circle"
          class="p-button-help p-button"
          (click)="addExpProfissional()"
        ></button>
      </div>
    </ng-template>

    <ng-template [ngIf]="isPessoal()">
      <div class="p-col-12 p-md-6">
        <button
          pButton
          type="button"
          label="Adicionar Experiência Pessoal"
          icon="pi pi-plus-circle"
          class="p-button"
          (click)="addExpPessoal()"
          [ngStyle]="{ 'background-color': 'var(--orange-300)' }"
        ></button>
      </div>
    </ng-template>

    <div class="p-col p-md-3">
      <button
        pButton
        type="button"
        label="Avançar"
        icon="pi pi-check"
        class="p-button"
        (click)="avancarFormVisivel()"
      ></button>
    </div>
  </div>
</div>
