.formulario__usuario {
  margin: 1.2rem;
}

.progress__bar {
  margin-bottom: 1.8rem;
}

div > span.p-float-label {
  margin: 0.5rem 0;
}

.switch__label {
  margin-right: 0.5rem;
}
/* 
.p-card-body > * {
  margin-bottom: 0.8rem;
} */